torch==2.5.1
torchvision==0.20.1
monai==1.5.2
numpy==2.2.6
scipy==1.15.3
scikit-image==0.25.2
scikit-learn==1.7.2
pandas==2.3.3
nibabel==5.4.2
pillow==12.2.0
opencv-python-headless==4.13.0.92
matplotlib==3.10.8
gym==0.26.2
tqdm==4.67.3
requests==2.33.0
